In [40]:
import pandas as pd
df = pd.read_csv("md_voter_file.txt", sep='\t', on_bad_lines='skip') 
df.head()

C:\Users\Geoffrey\AppData\Local\Temp\ipykernel_30400\268250529.py:2: DtypeWarning: Columns (0,5,6,7,10,13,21,22,27,28,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("md_voter_file.txt", sep='\t', on_bad_lines='skip')

,VTR_ID,LastName,FirstName,MiddleName,Suffix,HouseNumber,HouseSuffix,StreetPreDirection,StreetName,StreetType,...,BirthDate,CountyRegistrationDate,StateRegistrationDate,11/08/2016-PG,06/02/2020-PP,11/03/2020-PG,05/14/2024-PP,11/05/2024-PG,County,Unnamed: 44
0,500696252,LANTZ,BETHANY,BROOKE,NaN,5.0,NaN,NaN,OAKLAWN,AVE,...,08/20/1991,08/20/2012,08/20/2012,NaN,2020 PRESIDENTIAL PRIMARY ELECTION,2020 PRESIDENTIAL GENERAL ELECTION,NaN,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN
1,3596552,TRUE,WANDA,HARRIS,NaN,11800.0,NaN,NaN,GREEN RIDGE,RD,...,10/10/1954,09/16/1980,09/16/1980,2016 PRESIDENTIAL GENERAL ELECTION,2020 PRESIDENTIAL PRIMARY ELECTION,2020 PRESIDENTIAL GENERAL ELECTION,2024 PRESIDENTIAL PRIMARY ELECTION,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN
2,501592474,CUTTER,ALISON,MARIE,NaN,11616.0,NaN,NaN,POPLAR,AVE,...,09/10/2000,03/10/2017,03/10/2017,NaN,NaN,NaN,2024 PRESIDENTIAL PRIMARY ELECTION,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN
3,3635319,AKE,DAVID,ALEXANDER,NaN,519.0,NaN,NaN,MARYLAND,ST,...,02/11/1985,02/07/2019,02/07/2019,NaN,NaN,NaN,2024 PRESIDENTIAL PRIMARY ELECTION,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN
4,4343788,PRITCHARD,NANCY,ADAMS,NaN,15.0,NaN,NaN,FOREST,DR,...,09/04/1959,07/07/2020,10/08/1984,2016 PRESIDENTIAL GENERAL ELECTION,NaN,2020 PRESIDENTIAL GENERAL ELECTION,NaN,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN

In [41]:
df.columns

Index(['VTR_ID', 'LastName', 'FirstName', 'MiddleName', 'Suffix',
       'HouseNumber', 'HouseSuffix', 'StreetPreDirection', 'StreetName',
       'StreetType', 'StreetPostDirection', 'UnitType', 'UnitNumber',
       'NonStandardAddress', 'ResidentialCity', 'ResidentialState',
       'ResidentialZip', 'ResidentialZipPlus', 'MAILINGADDRESS', 'MAILINGCITY',
       'MAILINGSTATE', 'MAILINGZIP', 'MAILINGZIPPLUS', 'StatusCode', 'Party',
       'Gender', 'Congressional', 'Legislative', 'Councilmanic',
       'Commissioner', 'Ward', 'Municipal', 'School', 'Precinct', 'Split',
       'BirthDate', 'CountyRegistrationDate', 'StateRegistrationDate',
       '11/08/2016-PG', '06/02/2020-PP', '11/03/2020-PG', '05/14/2024-PP',
       '11/05/2024-PG', 'County', 'Unnamed: 44'],
      dtype='object')

In [45]:
from datetime import date
from datetime import datetime
# coded based on https://www.geeksforgeeks.org/python-program-to-calculate-age-in-year/

def calculateAge(birthDate):
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) <(birthDate.month, birthDate.day))
    return age

In [46]:
import warnings
warnings.filterwarnings('ignore')
df["BirthDate"] = pd.to_datetime(df["BirthDate"], format="%m/%d/%Y")
df['age'] = df['BirthDate'].apply(calculateAge)

In [47]:
df['age_bracket'] = df['age'].apply(lambda x: 
    "18-24" if x <= 24 else 
    "25-34" if x <= 34 else 
    "35-50" if x <= 50 else 
    "51-64" if x <= 64 else 
    "65+")

In [48]:
df.head()

,VTR_ID,LastName,FirstName,MiddleName,Suffix,HouseNumber,HouseSuffix,StreetPreDirection,StreetName,StreetType,...,StateRegistrationDate,11/08/2016-PG,06/02/2020-PP,11/03/2020-PG,05/14/2024-PP,11/05/2024-PG,County,Unnamed: 44,age,age_bracket
0,500696252,LANTZ,BETHANY,BROOKE,NaN,5.0,NaN,NaN,OAKLAWN,AVE,...,08/20/2012,NaN,2020 PRESIDENTIAL PRIMARY ELECTION,2020 PRESIDENTIAL GENERAL ELECTION,NaN,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN,33.0,25-34
1,3596552,TRUE,WANDA,HARRIS,NaN,11800.0,NaN,NaN,GREEN RIDGE,RD,...,09/16/1980,2016 PRESIDENTIAL GENERAL ELECTION,2020 PRESIDENTIAL PRIMARY ELECTION,2020 PRESIDENTIAL GENERAL ELECTION,2024 PRESIDENTIAL PRIMARY ELECTION,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN,70.0,65+
2,501592474,CUTTER,ALISON,MARIE,NaN,11616.0,NaN,NaN,POPLAR,AVE,...,03/10/2017,NaN,NaN,NaN,2024 PRESIDENTIAL PRIMARY ELECTION,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN,24.0,18-24
3,3635319,AKE,DAVID,ALEXANDER,NaN,519.0,NaN,NaN,MARYLAND,ST,...,02/07/2019,NaN,NaN,NaN,2024 PRESIDENTIAL PRIMARY ELECTION,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN,40.0,35-50
4,4343788,PRITCHARD,NANCY,ADAMS,NaN,15.0,NaN,NaN,FOREST,DR,...,10/08/1984,2016 PRESIDENTIAL GENERAL ELECTION,NaN,2020 PRESIDENTIAL GENERAL ELECTION,NaN,2024 PRESIDENTIAL GENERAL ELECTION,Allegany,NaN,65.0,65+

In [49]:
df.columns
replacements = {key: 'OTH' for key in [
    'ONLM', 'OIN', 'OWCP', 'OLB', 'GRN',
    'OBAR', 'OSC', 'OCH', 'OPAT', 'ORE',
    'OCON', 'OSD', 'OFCH', 'OLIR', 'OCN',
    'OCS', 'OAM', 'OTP', 'OCO', 'OAL',
    'OAI', 'OPOP', 'ORL', 'OWO', 'OBM',
    'ONL', '21', 'OID', 'OAN', 'OPE',
    'OWH', 'ONP', 'OFR', 'ONAS'
]}

# Replace values in the specific column
df['Party'] = df['Party'].replace(replacements)

In [50]:
df.columns
df2 = df.groupby(["age_bracket", "Gender","County", "Party"]).agg(Count=("FirstName", "count"), voted_2024 = ("11/05/2024-PG","count"),voted_2020 = ("11/03/2020-PG","count"),voted_2016 = ("11/08/2016-PG","count")).reset_index()

df3 = df.groupby(["age_bracket","County", "Party"]).agg(Count=("FirstName", "count"), voted_2024 = ("11/05/2024-PG","count"),voted_2020 = ("11/03/2020-PG","count"),voted_2016 = ("11/08/2016-PG","count")).reset_index()

df3.head()

  age_bracket        County Party  Count  voted_2024  voted_2020  voted_2016
0       18-24      Allegany   DEM    983         582         234           0
1       18-24      Allegany   OTH    142          46          15           0
2       18-24      Allegany   REP   2106        1152         439           0
3       18-24      Allegany   UNA   1547         582         165           0
4       18-24  Anne Arundel   DEM  17927       10632        4686           1

In [51]:
df3.to_csv('agg_MD_noGenderSplit_County.csv')

In [69]:
import pandas as pd
df2 = pd.read_csv("agg_MD_noGenderSplit_County.csv")
df2

,Unnamed: 0,age_bracket,County,Party,Count,voted_2024,voted_2020,voted_2016
0,0,18-24,Allegany,DEM,983,582,234,0
1,1,18-24,Allegany,OTH,142,46,15,0
2,2,18-24,Allegany,REP,2106,1152,439,0
3,3,18-24,Allegany,UNA,1547,582,165,0
4,4,18-24,Anne Arundel,DEM,17927,10632,4686,1
...,...,...,...,...,...,...,...,...
475,475,65+,Wicomico,UNA,2316,1682,1599,1429
476,476,65+,Worcester,DEM,5919,4758,4747,4391
477,477,65+,Worcester,OTH,224,174,165,152
478,478,65+,Worcester,REP,7694,6473,6476,5975
479,479,65+,Worcester,UNA,2278,1727,1701,1490

In [70]:
df3 = df2.groupby(["County", "age_bracket"]).agg(vote_2024=("voted_2024", "sum")).reset_index()
df3

        County age_bracket  vote_2024
0     Allegany       18-24       2362
1     Allegany       25-34       3663
2     Allegany       35-50       6863
3     Allegany       51-64       7944
4     Allegany         65+      11128
..         ...         ...        ...
115  Worcester       18-24       2003
116  Worcester       25-34       3084
117  Worcester       35-50       6196
118  Worcester       51-64       8604
119  Worcester         65+      13132

[120 rows x 3 columns]

In [71]:
grouped_df = df3.groupby(['County', 'age_bracket'], as_index=False)['vote_2024'].sum()
grouped_df['total_votes'] = grouped_df.groupby('County')['vote_2024'].transform('sum')
grouped_df['turnout'] = grouped_df['vote_2024'] / grouped_df['total_votes']
grouped_df
pivoted_df = grouped_df.pivot(index='County', columns='age_bracket', values='turnout').reset_index()

# Display the pivoted DataFrame
print(pivoted_df)

age_bracket            County     18-24     25-34     35-50     51-64  \
0                    Allegany  0.073905  0.114612  0.214737  0.248561
1                Anne Arundel  0.080168  0.137096  0.269379  0.253384
2              Baltimore City  0.073349  0.193207  0.271763  0.212422
3            Baltimore County  0.081261  0.132059  0.247607  0.242105
4                     Calvert  0.085874  0.119308  0.255095  0.278129
5                    Caroline  0.081613  0.125698  0.237916  0.260566
6                     Carroll  0.084366  0.119536  0.254624  0.267203
7                       Cecil  0.083078  0.130830  0.239102  0.270285
8                     Charles  0.089848  0.127885  0.268339  0.294647
9                  Dorchester  0.063123  0.117522  0.197501  0.258855
10                  Frederick  0.084943  0.135057  0.280869  0.254588
11                    Garrett  0.071326  0.115802  0.204630  0.258139
12                    Harford  0.080389  0.127705  0.256670  0.258873
13                     Howard  0.093519  0.129654  0.277121  0.256737
14                       Kent  0.056857  0.102092  0.169319  0.236188
15                 Montgomery  0.086602  0.128242  0.257096  0.249175
16            Prince George's  0.084917  0.141585  0.243264  0.261143
17               Queen Anne's  0.073602  0.111916  0.220257  0.277085
18               Saint Mary's  0.087156  0.145339  0.264281  0.267732
19                   Somerset  0.063345  0.105810  0.189328  0.271233
20                     Talbot  0.058100  0.089214  0.179515  0.237094
21                 Washington  0.080474  0.119526  0.236317  0.266852
22                   Wicomico  0.082331  0.124708  0.225130  0.247830
23                  Worcester  0.060662  0.093401  0.187650  0.260577

age_bracket       65+
0            0.348185
1            0.259974
2            0.249259
3            0.296969
4            0.261595
5            0.294207
6            0.274270
7            0.276706
8            0.219281
9            0.362999
10           0.244543
11           0.350104
12           0.276362
13           0.242969
14           0.435544
15           0.278886
16           0.269091
17           0.317140
18           0.235492
19           0.370284
20           0.436077
21           0.296831
22           0.320001
23           0.397710

In [72]:
pivoted_df.to_csv('agg_partysplit_age.csv')

In [56]:
data = pd.read_csv("agg_partysplit.csv")
data.head()

   Unnamed: 0 Legislative       DEM       OTH       REP       UNA
0           0         01A  0.182203  0.011619  0.681980  0.124199
1           1         01B  0.271391  0.014653  0.553365  0.160592
2           2         01C  0.215431  0.011709  0.609563  0.163298
3           3         02A  0.273610  0.013568  0.516763  0.196060
4           4         02B  0.435773  0.017687  0.336819  0.209721

In [58]:
data['DEM'] = data['DEM'] * 100

In [15]:

!pip install datawrapper
from datawrapper import Datawrapper

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: datawrapper in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (0.6.1)
Requirement already satisfied: importlib-metadata in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from datawrapper) (8.6.1)
Requirement already satisfied: rich in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from datawrapper) (14.0.0)
Requirement already satisfied: requests in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from datawrapper) (2.32.3)
Requirement already satisfied: pandas in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from datawrapper) (2.2.3)
Requirement already satisfied: ipython in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from datawrapper) (9.0.2)
Requirement already satisfied: zipp>=3.20 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from importlib-metadata->datawrapper) (3.21.0)
Requirement already satisfied: colorama in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (0.4.6)
Requirement already satisfied: decorator in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (2.19.1)
Requirement already satisfied: stack_data in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from ipython->datawrapper) (5.14.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from pandas->datawrapper) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from pandas->datawrapper) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from pandas->datawrapper) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from pandas->datawrapper) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from requests->datawrapper) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from requests->datawrapper) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from requests->datawrapper) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from requests->datawrapper) (2025.1.31)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from rich->datawrapper) (3.0.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->datawrapper) (0.8.4)
Requirement already satisfied: mdurl~=0.1 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from markdown-it-py>=2.2.0->rich->datawrapper) (0.1.2)
Requirement already satisfied: wcwidth in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->datawrapper) (0.2.13)
Requirement already satisfied: six>=1.5 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas->datawrapper) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from stack_data->ipython->datawrapper) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from stack_data->ipython->datawrapper) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\geoffrey\appdata\roaming\python\python313\site-packages (from stack_data->ipython->datawrapper) (0.2.3)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [62]:
dw = Datawrapper("PlaHrNyjAY3lmNIousEjdxOCI9549MmfXCczS8QQBB9AhmOtukLHhNbh2FDHzkN9")
dw.get_my_account()
data = data.loc[:, ['Legislative','DEM']]
data.head()

  Legislative        DEM
0         01A  18.220264
1         01B  27.139110
2         01C  21.543050
3         02A  27.361022
4         02B  43.577330

In [63]:
chart = dw.create_chart(title="test_chart", chart_type='d3-maps-choropleth')
chart_id = chart['id']

In [64]:
import json
with open('md_leg.json', 'r') as file:
    data2 = json.load(file)
chart_config = {
        "describe": {
            "intro": "description",
            "source-name": "source",
                            },
        "visualize": {
            "basemap": data2,
            "map-key-column": "Legislative",
            "map-value-column": "DEM",
            "map-color-scale": "Blues",
        },
        
        "data": {
            "json": True,
            "column-format": {
                "Legislative": {"type": "text", "role": "key"}, 
                "DEM": {"type": "number", "role": "value"}
            }
        }
    }

In [65]:
dw.add_json(chart["id"], data2)

True

In [ ]:
dw.update_chart(
        chart_id=chart_id,
        title="test_chart",
        metadata=chart_config
    )

In [67]:
dw.add_data(chart_id, data.to_csv(index=False))

True

In [68]:
chart_id

'tlYYl'